<p id="notice"><%= notice %></p>

<p>
  <strong>Merlinid:</strong>
  <%= @videoasset.merlinid %>
</p>
<%= params.inspect%>
<%= link_to 'Edit', edit_videoasset_path(@videoasset) %> |
<%= link_to 'Back', videoassets_path %>
