<!DOCTYPE html>
<html>
<head>
  <title>Mediapoints</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application","dynamic_form" "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <ul class="nav nav-pills pull-right">
      <% if admin_signed_in? %>
       <li><%= link_to "Sign out | #{current_admin.email}", destroy_admin_session_path, :method => :delete %></li>
       <% else %>
       <li><%= link_to "Sign in", new_admin_session_path %></li>
       <li><%= link_to "Sign up", new_admin_registration_path %></li>
     <% end %>
</ul>
    </div>
  </div>

<div class = "container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</div>

</body>
</html>
